body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.LandingSec{
    display:flex;
    width:80%;
    margin:0 auto;
}
.LandingSecText{
    width:50%;
}
.LandingSecText h1{
    font-size: 45px;
    margin-top: 20%;
}
.LandingSecText span{
    color:rgb(12, 193, 238);
}
.LandingSecImage{
    width:50%;
    margin-left:10%;
}
.imageWidth{
    width:80%; 
}
.HireBtn{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(45deg,rgb(1, 111, 255),rgb(12, 193, 238));
    padding: 10px 30px;
    transition:0.6s;
}
.HireBtn:hover{
    color:rgb(0, 0, 0);
}