body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* landing page start */
.makeFlex{
    display:flex;
    width:80%;
    margin:0 auto;
}
.LandingSecText{
    width:50%;
}
.LandingSecText h1{
    font-size: 45px;
    margin-top: 20%;
    padding-left:10px;
    border-left:3px solid;
    border-image: linear-gradient( cyan,blue);
    border-image-slice:1;
}
.LandingSecText span{
    color:rgb(12, 193, 238);
}
.LandingSecImage{
    width:50%;
    margin-left:10%;
}
.imageWidth{
    width:80%; 
}
.HireBtn{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(45deg,rgb(1, 111, 255),rgb(12, 193, 238));
    padding: 10px 30px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
    transition:0.6s;
}
.HireBtn:hover{
    color:rgb(0, 0, 0);
}
/* landing page end */

/* service section start */
.services{
    display:flex;
    justify-content: center;
    margin-top: 50px;
} 
.service{
    width: 300px;
    border-radius: 20px;
    background-color:rgb(220, 244, 245);
    padding: 10px;
    margin: 0 10px;
}
.servImage img{
    width:50%;
    padding:10px;
}
.servText{
    margin:15px ;
}
#bgColor2{
    background-color: rgb(246, 213, 205);
}
#bgColor3{
    background-color: rgb(234, 190, 235);
}
#servHeading{
    font-size:40px;
    text-align: center;
}
#servHeading span{
    color:rgb(12, 193, 238);
}
/* service section end */

/* section1 start */
.Section1Image{
    width:50%;
    margin-top:5%; 
}
.Section1Text{
    width:50%;
    margin-top: 5%;
}
/* section1 end */

/* section2 start */
.Section2Image{
    width:50%;
    margin: 5% 0 5% 10%; 
}
.Section2Text{
    width:50%;
    margin-top:5%;
}
/*Section2 end */

/* contact form */
.contactBg{
    background-color:#dff3f8 ;
}
.contactBg h1{
    text-align: center;
    padding-top: 5%;
    font-size: 30px; 
}
.contactBg span{
    color:rgb(12, 193, 238);
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #0476aa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:0.5s;
  }
  
  input[type=submit]:hover {
    background-color: #f04f4f;
    /* color:black; */
  }
  
  .container {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px; 
    margin-top:10%;
}
/* Footer start*/
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding:10px 0 20px 0;
}
footer span{
    color:#0cc1ee;
}
/* Footer end */